# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
instance/
*.sqlite3
.env
.env.*

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
